<header class="intro">
  <h1 class="intro__hello">Akhil Arularasu.</h1>
  <h5 class="intro__tagline">I'm building <a href="https://www.trypsync.com" style="text-decoration: underline;">TrypSync</a>, reshaping how campus-based ridesharing looks within college communities.</h5>

    <h3 class="intro__contact">
    <span> Professional Details </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="{{site.baseurl}}/CV.pdf" target="_blank" class="highlight-link">Download Resume</a>
    </span>
  </h3>
  
  <!-- Begin Footer Content Integration -->
  <div class="footer__links">
    {% for link in site.social %}
    <a href="{{link.url}}" target="_blank" title="{{link.title}}">
      <span class="text">{{link.title}}</span>
      <img src="{{site.baseurl}}/img/social/{{link.title}}.svg" alt="{{link.title}}">
    </a>
    {% endfor %}
  </div>
  <!-- End Footer Content Integration -->
</header>
