<header class="intro">
  <h1 class="intro__hello">Akhil Arularasu.</h1>
  <h5 class="intro__tagline">CS Student @ Emory University | Incoming Software Engineering Intern @ Amazon Summer 2025 </h5>
  
  <!-- Begin Footer Content Integration -->
  <div class="footer__links">
    {% for link in site.social %}
    <a href="{{link.url}}" target="_blank" title="{{link.title}}">
      <span class="text">{{link.title}}</span>
      <img src="{{site.baseurl}}/img/social/{{link.title}}.svg" alt="{{link.title}}">
    </a>
    {% endfor %}
  </div>
  <!-- End Footer Content Integration -->
</header>
